<%- include('../partials/header.ejs')%>
<link rel="stylesheet" href="/css/trades.css">
<%- include('../partials/nav.ejs')%> 

<main class="content">
    <section class="content-section">
        <h2>Woody scent</h2>
        <article>
            <%if(trades.length){%>
            <ul class="trade-ul">
                <%trades.forEach(trade => {%>
                <li class="trade-li">
                    <img src="<%= trade.image %>" width="100" height="100" alt="product image">
                    <a href="trades/<%= trade.id %>"><h3><%= trade.title %></h3></a>
                    <p><%= trade.details %></p>
                </li>
            <%})%>
            </ul>
        <%}else {%>
            <p>Sorry! No candles available</p>
        <%}%>
        </article> 
    </section>
</main>


<%- include('../partials/footer.ejs')%>