<%- include('../partials/header.ejs')%>
<link rel="stylesheet" href="/css/trade.css">
<%- include('../partials/nav.ejs')%> 
        <main class="content">
           <div class="main-block">
            <div class="block">
                <% if(trade){ %>
                <img class="product-img" src="<%=trade.image%>" alt="product image" width="400" height="400">
                <% if(trade.status != 'traded'){

                    if(user == trade.createdBy._id){%>
                        <form class="form-btn">
                            <button class="buttonOp" type="submit" formmethod="GET" formaction="/trades/<%=trade.id%>/edit">Edit</button>
                            <button class="buttonOp" type="submit" formmethod="POST" formaction="/trades/<%=trade.id%>?_method=DELETE">Delete</button>
                        </form>
    
                    <%}
                    else {%>
                        <form class="form-btn">
                            <%if(trade.status != 'pending'){%>
                                <button class="buttonOp" type="submit" formmethod="GET" formaction="/offers/available/<%=trade._id%>/<%=trade.createdBy._id%>">Trade</button>
                            <%}
                            else{%>
                                <button class="buttonOp-disabled" type="submit" disabled formmethod="GET" formaction="/offers/available/<%=trade._id%>/<%=trade.createdBy._id%>">Trade</button>
                            <%}
                            if(watchlistId){%>
                                <button class="buttonOp" type="submit" formmethod="POST" formaction="/watchlists/<%=watchlistId%>?_method=DELETE">Unwatch</button>
                            <%}
                            else{%>
                                <button class="buttonOp" type="submit" formmethod="POST" formaction="/watchlists/<%=trade.id%>/">Watch</button>
                            <%}%>
                        </form>
    
                    <%}

                }%>
            </div>
            <div class="block">
                <h2><%=trade.title%></h2>
                <h4><%=trade.category%></h4>

                <div class="section">
                    <span class="p-head">Description:</span>
                    <p><%=trade.details%></p>
                </div>

                <div class="section">
                    <span class="p-head">Company:</span>
                    <span><%=trade.company%></span>
                </div>
                
                <div class="section">
                    <span class="p-head">Type:</span>
                    <span><%=trade.type%></span>
                </div>

                <div class="section">
                    <span class="p-head">Original Net Weight:</span>
                    <span><%=trade.original_net_weight%> Oz</span>
                </div>

                <div class="section">
                    <span class="p-head">Existing Net Weight:</span>
                    <span><%=trade.existing_net_weight%> Oz</span>
                </div>

                <div class="section">
                    <span class="p-head">Original Price:</span>
                    <span>$<%=trade.original_price%></span>
                </div>

                <div class="section">
                    <span class="p-head">Status:</span>
                    <span><%=trade.status%></span>
                </div>

                <div class="section">
                    <span class="p-head">Created by:</span>
                    <span><%=trade.createdBy.firstName + " " +trade.createdBy.lastName%></span>
                </div>
                
            </div>
        <%} else{%>
            <p>No details found</p>
        <%}%>
           </div>
        </main>
<%- include('../partials/footer.ejs')%>