<%- include('../partials/header.ejs')%>
<link rel="stylesheet" href="/css/trade.css">
<%- include('../partials/nav.ejs')%> 
        <main class="content">
           <div class="main-block">
            <div class="block">
                <% if(trade){ %>
                <img class="product-img" src="<%=trade.image%>" alt="product image" width="400" height="400">
                <form class="form-btn">
                    <button class="buttonOp" type="submit" formmethod="GET" formaction="/trades/<%=trade.id%>>/edit">Edit</button>
                    <button class="buttonOp" type="submit" formmethod="POST" formaction="/trades/<%=trade.id%>?_method=DELETE">Delete</button>
                </form>

            </div>
            <div class="block">
                <h2><%=trade.title%></h2>
                <h4><%=trade.category%></h4>
                <p class="p-head"> Description:</p>
                <p><%=trade.details%></p>
                <p class="p-head">Company:</p>
                <p><%=trade.company%></p>
                <p class="p-head">Type:</p>
                <p><%=trade.type%></p>
                <p class="p-head">Original Net Weight:</p>
                <p><%=trade.original_net_weight%>Oz</p>
                <p class="p-head">Existing Net Weight:</p>
                <p><%=trade.existing_net_weight%>Oz</p>
                <p class="p-head">Original Price:</p>
                <p>$<%=trade.original_price%></p>
                <p class="p-head">Status:</p>
                <p><%=trade.status%></p>
            </div>
        <%} else{%>
            <p>No details found</p>
        <%}%>
           </div>
        </main>
<%- include('../partials/footer.ejs')%>