<%- include('./partials/header.ejs')%>
<link rel="stylesheet" href="/css/error.css">
<%- include('./partials/nav.ejs')%> 
        <main class="content">
            <div class="main">
                <h3><%=error.status%> Error</h3> 
                <p><%=error.message%></p> 
            </div>
        </main>
<%- include('./partials/footer.ejs')%>