<%- include('../partials/header.ejs')%>
<link rel="stylesheet" href="/css/profile.css">
<%- include('../partials/nav.ejs')%> 
<main class="content">

    <div class="head">
        <h3><%=user.firstName%>'s trades:</h3>
    </div>
    <div class="table-main">

        <%if(trades.length) { %>
            <table>
                <tr>
                  <th>Trades</th>
                  <th>Category</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
            <%trades.forEach(trade => {%>
                <tr>
                    <td> <a href="/trades/<%=trade.id%>"><p><%=trade.title%></p></a></td>
                    <td><%=trade.category%></td>
                    <td><%=trade.status%></td>
                    <td>
                        <%if(trade.status != 'traded'){%>

                            <form class="form-btn">
                                <button class="table-btn" type="submit" formmethod="GET" formaction="/trades/<%=trade.id%>/edit">Edit</button>
                                <button class="table-btn" type="submit" formmethod="POST" formaction="/trades/<%=trade.id%>?_method=DELETE">Delete</button>
                                <%if(trade.status === 'pending'){%>
                                    <button class="table-btn" type="submit" formmethod="GET" formaction="/offers/manage/<%=trade.id%>">Manage offer</button>
                                <%}%>
                            </form>

                        <%}%>
                    </td>
                </tr>
            <%});%>
            </table>
        <%} else {%>
            <p>You have not created any trades to display</p>
        <%}%>
    </div>

    <div class="head">
        <h3><%=user.firstName%>'s watchlist:</h3>
    </div>

    <div class="table-main">

        <%if(watchlistItems.length) { %>
            <table>
                <tr>
                  <th>Title</th>
                  <th>Category</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
            <%watchlistItems.forEach(item => {%>
                <tr>
                    <td> <a href="/trades/<%=item.tradeId._id%>"><p><%=item.tradeId.title%></p></a></td>
                    <td><%=item.tradeId.category%></td>
                    <td><%=item.tradeId.status%></td>
                    <td>
                        <form class="form-btn">
                            <button class="table-btn" type="submit" formmethod="POST" formaction="/watchlists/<%=item._id%>?_method=DELETE">Unwatch</button>
                        </form>
                    </td>
                </tr>
            <%});%>
            </table>
        <%} else {%>
            <p>There are no items in your watchlist</p>
        <%}%>
    
    </div>

    <div class="head">
        <h3>Offers made by <%=user.firstName%></h3>
    </div>

    <div class="table-main">

        <%if(offers.length) { %>
            <table>
                <tr>
                  <th>Title</th>
                  <th>Category</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
            <%offers.forEach(item => {%>
                <tr>
                    <td> <a href="/trades/<%=item.ownerItem._id%>"><p><%=item.ownerItem.title%></p></a></td>
                    <td><%=item.ownerItem.category%></td>
                    <td><%=item.ownerItem.status%></td>
                    <td>
                        <form class="form-btn">
                            <button class="table-btn" type="submit" formmethod="POST" formaction="/offers/<%=item._id%>?_method=DELETE">Cancel offer</button>
                        </form>
                    </td>
                </tr>
            <%});%>
            </table>
        <%} else {%>
            <p>There are no offers made</p>
        <%}%>
    
    </div>
    
</main>
<%- include('../partials/footer.ejs')%>